$background-color1: rgba(16, 54, 66, 1);
$background-color2: rgba(17, 68, 85, 1);
$background-color3: rgba(6, 21, 26, 0.6);
$background-color4: rgba(10, 36, 44, 1);
$background-color5: rgba(17, 40, 48, 1);
$background-color6: rgba(17, 119, 119, 1);
$background-color7: rgba(231, 233, 234, 1);

$signal-color-red: rgba(178, 0, 35, 0.9);
$orange-color-very-light: rgb(255, 237, 219);
$orange-color-light: rgb(238, 182, 98);
$orange-color-medium: rgb(255, 165, 79);
$gold-color: rgb(127, 82, 39);
$red-color-very-light: rgb(250, 166, 169);
$red-color-light: rgb(238, 110, 115);
$teal-color: rgba(43, 187, 173, 1);
$teal-color-dark: rgba(0, 128, 128, 1);

$hover-teal-color: rgb(73, 217, 203);
$hover-signal-red: rgba(218, 40, 75, 0.9);
$mint-green: rgba(43, 187, 173, 0.8);
$color_light: rgba(219, 219, 219, 1);
$color_light2: rgba(125, 131, 164, 0.5);
$color_medium: rgba(148, 148, 148, 1);
$color-dark: rgba(6, 21, 26, 1);
$hover-color: rgba(0, 191, 165, 1);
$hover-color2: rgba(50, 162, 162, 1);
$placeholder-color: rgb(102, 102, 102);

$font-color-dark: rgb(90, 90, 90);
$font-color-extra-dark: rgb(36, 36, 36);
$font-color-light: #aaa;
$font-color-super-light: rgb(219, 219, 219);
$font-color-white: #fff;

$min-height: "(max-height: 450px)";
$gradient: linear-gradient(to top, $background-color1, $background-color2);
/*$gradient-mint: linear-gradient( to top, $mint-green, $mint-green +50% );*/
$gradient-grey: linear-gradient(to top, #d3d5d6, $background-color7);
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-light: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
$shadow-small: -2px 2px 4px 1px rgba(0, 0, 0, 0.6);
$shadow-strong: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
$shadow-strong2: 0px 2px 5px 4px rgba(0, 0, 0, 0.4);

$mobile: "(max-width: 660px)";
$tablet: "(min-width: 661px) and (max-width: 991px)";
$medium: "(min-width: 992px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";
$desktop-xl: "(min-width: 1980px)";

$font-family: sans-serif;
$h1: 1.8em;
$h2: 1.6em;
$h3: 1.4em;
$h4: 1.2em;
$p: 16px;

$max-site-width: 1140px;
$main-height: 30px;
$chat-width: 60vw;
$chat-height: calc(var(--vh, 1vh) * 100);
$chat-height-tabs: calc(#{$chat-height} - 46px);
$container_height: calc(#{$main-height} - 0.9vw);
$container_width: calc(#{$chat-width} / 4 - 0.6vw);
$dist: 30px;
$padding-textarea: 5px;
$lines-to-show: 2;

$timing-function: cubic-bezier(0.19, 1, 0.22, 1);
$standard-box-radius: 5px;

// **********
// helpers
// **********
.vertical-spacer {
    line-height: unset;
    width: 100%;
  
    &.small {
      height: 10px;
      min-height: 10px;
    }
  
    &.medium {
      height: 20px;
      min-height: 20px;
    }
  
    &.big {
      height: 30px;
      min-height: 30px;
    }
  }
  
  .just-center {
    justify-content: center;
  }
  
  .just-left {
    justify-content: flex-start;
  }
  
  .just-right {
    justify-content: flex-end;
  }
  
  .align-it-center {
    align-items: center;
  }
  
  .align-con-center {
    align-content: center;
  }
  
  .center-all {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .center-txt {
    text-align: center;
  }
  
  .fs-16 {
    font-size: 16px !important;
  }
  
  .fs-14 {
    font-size: 14px !important;
  }
  
  .fs-12 {
    font-size: 12px !important;
  }
  
  .fs-10 {
    font-size: 12px !important;
  }
  
  .flex-box {
    display: flex;
  }
  
  .flex-wrap {
    flex-flow: wrap;
  }
  
  .ps-absolute {
    position: absolute;
  }
  
  .ps-relative {
    position: relative;
  }
  
  .o0 {
    opacity: 0;
  }
  
  .w100 {
    width: 100% !important;
  }
  
  .vw100 {
    width: 100vw !important;
  }
  
  .vh100 {
    height: 100vh !important;
  }
  
  .placeholder {
    &::placeholder {
      color: $placeholder-color;
    }
  }
  
  .zi1 {
    z-index: 2147483638;
  }
  
  .strong {
    font-weight: bold !important;
  }
  
  .em {
    font-style: italic !important;
  }
  
  .whiteco {
    color: $font-color-white !important;
  }
  
  .lightco {
    color: $font-color-super-light !important;
  }
  
  .darkco {
    color: $font-color-extra-dark !important;
  }
  
  .darkco-grey {
    color: $font-color-dark !important;
  }
  
  .tealco {
    color: $mint-green !important;
  }
  .dark-tealco {
    color: $teal-color !important;
  }
  
  .light-tealco {
    color: $hover-color2 !important;
  }
  
  .bg-white {
    background-color: white !important;
  }
  
  .bg-light {
    background-color: $background-color7 !important;
  }
  
  .bg-dark {
    background-color: $background-color5 !important;
  }
  
  .bg-dark-blue {
    background-color: $background-color1 !important;
  }
  
  .bg-dark-transparent {
    background-color: $background-color3 !important;
  }
  
  .bg-teal {
    background-color: $mint-green !important;
  }
  
  .bg-light-teal {
    background-color: $hover-color2 !important;
  }
  
  .sidenav .nav-index-link {
    color: $teal-color-dark;
    border-top: 1px solid $color_light;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .no-padding {
    padding: 0;
  }