/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

//to prevent style conflicts among materialize and external blog style, required material styles are encapsulated here
#quackSingleMainContainer,
#quackListMainContainer {
  // Color
  @import "./node_modules/materialize-css/sass/components/color-variables";
  @import "./node_modules/materialize-css/sass/components/color-classes";

  // Variables;
  @import "./node_modules/materialize-css/sass/components/variables";

  // Reset
  @import "./node_modules/materialize-css/sass/components/normalize";

  // components
  @import "./node_modules/materialize-css/sass/components/global";
  //@import "./node_modules/materialize-css/sass/components/badges";
  @import "./node_modules/materialize-css/sass/components/icons-material-design";
  @import "./node_modules/materialize-css/sass/components/grid";
  // @import "./node_modules/materialize-css/sass/components/navbar";
  // @import "./node_modules/materialize-css/sass/components/typography";
  @import "./node_modules/materialize-css/sass/components/transitions";
  @import "./node_modules/materialize-css/sass/components/cards";
  //@import "./node_modules/materialize-css/sass/components/toast";
  // @import "./node_modules/materialize-css/sass/components/tabs";
  @import "./node_modules/materialize-css/sass/components/tooltip";
  @import "./node_modules/materialize-css/sass/components/buttons";
  //@import "./node_modules/materialize-css/sass/components/dropdown";
  @import "./node_modules/materialize-css/sass/components/waves";
  @import "./node_modules/materialize-css/sass/components/modal";
  @import "./node_modules/materialize-css/sass/components/collapsible";
  @import "./node_modules/materialize-css/sass/components/chips";
  @import "./node_modules/materialize-css/sass/components/materialbox";
  // @import "./node_modules/materialize-css/sass/components/forms/forms";
  @import "./node_modules/materialize-css/sass/components/table_of_contents";
  // @import "./node_modules/materialize-css/sass/components/sidenav";
  @import "./node_modules/materialize-css/sass/components/preloader";
  @import "./node_modules/materialize-css/sass/components/slider";
  @import "./node_modules/materialize-css/sass/components/carousel";
  // @import "./node_modules/materialize-css/sass/components/tapTarget";
  @import "./node_modules/materialize-css/sass/components/pulse";
  // @import "./node_modules/materialize-css/sass/components/datepicker";
  // @import "./node_modules/materialize-css/sass/components/timepicker";
}
